@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #333;
  min-height: 100vh;
}

#app {
  max-width: 480px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

